<div *ngIf="book" class="container mt-5">
  <div class="row align-items-center book-detail-row">
    <div class="col-md-6 text-center">
      <img [src]="book.portada" alt="Portada de {{ book.titulo }}" class="img-fluid book-cover">
    </div>
    <div class="col-md-6">
      <h2>{{ book.titulo }}</h2>
      <p><strong>Descripción:</strong> {{ book.descripcion }}</p>
      <p><strong>Resumen:</strong> {{ book.resumen }}</p>
      <p><strong>Precio:</strong> {{ book.precio }}</p>

      <!-- Selección de formato -->
      <div class="form-group">
        <label for="formato">Selecciona el formato:</label>
        <div>
          <button class="btn btn-secondary" (click)="seleccionarFormato('físico')">Físico</button>
          o
          <button class="btn btn-secondary" (click)="seleccionarFormato('digital')"> Digital</button>
        </div>
        <button class="btn btn-success mt-8" (click)="pagar()">Pagar</button>
      </div>

      <p>Has seleccionado: {{ formatoSeleccionado }}</p>
      <div>
        <mat-icon>download</mat-icon>
    </div>
    </div>
  </div>
</div>
