<div class="container mt-5">
  <div class="row">
    <!-- Mostrar cards de libros filtrados -->
    <div class="col-md-4 mb-4" *ngFor="let book of filteredBooks()">
      <div class="card h-100 shadow-lg">
        <img [src]="book.portada" class="card-img-top" alt="Portada de {{ book.titulo }}" style="height: 300px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ book.titulo }}</h5>
          <p class="card-text">{{ book.resumen }}</p>
          <p><strong>Precio:</strong> {{ book.precio }}</p>
          <a (click)="goToDetails(book.id)" class="btn btn-primary">Ver detalles</a>

        </div>
      </div>
    </div>
  </div>
</div>
